@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 232 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 232 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 232 84% 4.9%;

    --primary: 232 89% 14%;
    --primary-foreground: 232 95% 99%;

    --secondary: 23 100% 60%;
    --secondary-foreground: 24 93% 98%;

    --muted: 229 8% 72%;
    --muted-foreground: 226 5% 48%;

    --accent: 23 100% 60%;
    --accent-foreground: 24 93% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 232 95% 99%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 232 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 232 84% 4.9%;
    --foreground: 232 95% 99%;

    --card: 232 84% 4.9%;
    --card-foreground: 232 95% 99%;

    --popover: 232 84% 4.9%;
    --popover-foreground: 232 95% 99%;

    --primary: 232 95% 99%;
    --primary-foreground: 232 89% 14%;

    --secondary: 23 100% 60%;
    --secondary-foreground: 232 95% 99%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 23 100% 60%;
    --accent-foreground: 232 95% 99%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 232 95% 99%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
