.lyrics {
  &.lyricsConnection {
    &::after {
      $line-start: 56%;
      $line-end: 61%;

      content: "";
      flex-grow: 1;
      background: linear-gradient(
        to bottom,
        transparent $line-start,
        #999 $line-start,
        #999 $line-end,
        transparent $line-end,
        transparent 100%
      );
    }
  }
}
